
body {
    font-family: "Josefin Slab", serif;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

h1 {
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    margin: 0;
    padding: 20px 0;
}

h2 {
    line-height: 40px;
    text-align: center;
    margin-bottom: 40px;
    color: rgba(245, 245, 245, 0.863);
}


h1, footer, .main-temp {
    color: rgb(250, 240, 108);
    
}

footer {
    text-align: center;
    font-family: 'Damion', cursive;
    font-size: 15px;
    margin-top: 30px;
}


.miniBody {
    padding: 50px 0;
    max-width: 80%;
    margin: 0 auto;
}


.date {
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: rgba(245, 245, 245, 0.863);
}


.citySearch {
    display: inline;
    text-align: center;
    margin-left: 60px;
    font-size: 17px;
    border: 2px solid rgb(177, 177, 177);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    color: rgba(245, 245, 245, 0.863);
    background-color: transparent;
    transition: all .2s ease-in-out;
}

input.citySearch:hover {
    background: #517fa4;      
}

::placeholder {
    color: rgba(245, 245, 245, 0.863);
}

.location-btn {
    font-size: 17px;
    border: 2px solid rgb(177, 177, 177);
    border-radius: 50px;
    padding: 10px 16px;
    margin-left: 10px;
    text-align: center;
    background-color: transparent;
    color: rgba(245, 245, 245, 0.863);
    transition: all .2s ease-in-out;
}

.location-btn:hover {
    background: #517fa4;   
}


.weather {
    text-align: center;
    color: rgba(245, 245, 245, 0.863);
    padding: 0 50px;
}


.todayWeather, 
.todayTemp, 
.todayHumidityWind,
.forecast ul {
    list-style-type: none;
    padding: 0;
}

.main-temp {
    font-size: 80px;
    font-weight: 500;
    line-height: 60px;
    transition: all .2s ease-in-out;
    vertical-align: middle;
    margin-left: 70px;
}
.cf-symbol {
    font-size: 18px;
    position: relative;
    top: -35px;
    left: -15px;
}

.cf-symbol a {
    cursor: default;
    color: rgb(250, 240, 108, 0.7);
    text-decoration: none;
}

.cf-symbol .active {
    color:  rgb(250, 240, 108);
}

.current-icon {
    margin-top: -35px;
    margin-bottom: -20px;
}

.presentClimate {
    font-size: 18px;
    
}

.forecast {
    margin-top: 30px;
    text-align: center;
    color: rgba(245, 245, 245, 0.863);
}

.forecast img {
    margin: -10px 0;
    max-width: 60px;
    max-height: 60px;
}

.open-source-div {
    text-align: center;
}

.open-source-link {
    color: rgb(250, 240, 108);
text-decoration: none;
font-size: 14px;
}

.open-source-link:hover {
    color:  rgba(245, 245, 245, 0.863);
    text-decoration: underline;
} 